.alert-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  opacity: 0;
  .alert-content {
    position: absolute;
    left: 50%;
    top: 30%;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 850px;
    height: 325px;
    padding: 40px 60px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #fff;
    border-radius: 12px;
    opacity: 0;

    .close {
      position: absolute;

      right: 11px;
      top: 11px;
      width: 30px;
      height: 30px;
      cursor: pointer;

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 4px;
        height: 30px;
        background-color: rgb(202, 202, 203);
      }
      &::after {
        transform: translate(-50%, -50%) rotateZ(45deg);
      }
      &::before {
        transform: translate(-50%, -50%) rotateZ(-45deg);
      }
    }
    .steps-box-1 {
      margin-bottom: 30px;
      .title {
        font-family: "Poppins-Bold";
        font-size: 25px;
        color: $theme-color;
      }
      .steps-content {
        display: flex;
        align-items: center;
        margin-top: 36px;
        .desc {
          font-size: 18px;

          .iconfont {
            font-size: 50px;
            color: $theme-color;
          }
        }

        .btn-box {
          margin-left: 38px;
          .btn {
            width: 170px;
            height: 40px;
            outline: none;
            margin: 10px 15px;
            border: 1px solid #398440;
            border-radius: 3px;
            background-color: #fff;
            cursor: pointer;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            transition: all linear 0.1s;
            &:hover {
              background-color: #c3dfc7;
            }
          }
        }
      }
    }
    .steps-box-2 {
      margin-bottom: 20px;
      .steps-content {
        display: flex;
        .desc {
          display: flex;

          font-size: 18px;
          margin-top: 20px;
          .text {
            display: inline-block;
            margin-top: 5px;
            line-height: 22px;
          }
          .iconfont {
            flex-shrink: 0;
            display: inline-block;
            margin-right: 15px;
            font-size: 50px;
            color: $theme-color;
          }
        }

        .btn-box {
          flex-shrink: 0;
          margin-left: 38px;
          .btn {
            width: 170px;
            height: 40px;
            outline: none;
            margin: 10px 15px;
            border: 1px solid #398440;
            border-radius: 3px;
            background-color: #fff;
            cursor: pointer;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            transition: all linear 0.1s;
            &:hover {
              background-color: #c3dfc7;
            }
            &.current {
              background-color: #c3dfc7;
            }
          }
        }

        .start-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 20px;
          .start-btn {
            display: inline-block;
            width: 170px;
            height: 35px;
            border-radius: 3px;
            color: #fff;
            background-color: #398440;
            text-align: center;
            line-height: 35px;
            font-weight: 700;
            text-decoration: none;
            transition: all linear 0.1s;
            &.disabled {
              background-color: #9e9c9c;
              cursor: not-allowed;

              &:hover {
                background-color: #9e9c9c;
              }
            }
            &:hover {
              background-color: $theme-change-color;
            }
          }
          .power {
            display: flex;
            align-items: center;
            margin-top: 5px;
            .text {
              font-size: 14px;
            }
            .logo {
              height: 30px;
            }
          }
        }
      }
    }
    .steps-container {
      .steps-text-box {
        font-size: 14px;
      }
      .steps-box {
        width: 340px;
        height: 5px;
        background-color: #d8d8d8;
        .bar {
          width: 50%;
          height: 100%;
          background-color: $theme-color;
          transition: all linear 0.3s;
          &.full {
            width: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    display: none;
  }
}
