.calculator-components {
  display: block;

  @media screen and (max-width: 750px) {
    display: none;
  }
}

.calculator-trigger {
  position: fixed;
  right: 30px;
  bottom: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 12px;
  }

  .jiantou-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    font-size: 0;

    .jiantou {
      display: inline-block;
      width: 14px;
      height: 8px;
      background: url("../../assets/img/jiantou-1.png") no-repeat center center/cover;
    }
  }

  .calculator-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../../assets/img/calculator-icon.png") no-repeat center center/cover;
    cursor: pointer;
  }
}

.calculator-popup-container {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  font-size: 0;
  width: 600px;
  height: 350px;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 36px;
  border: 1px solid #d0d0d0;
  background-image: linear-gradient(45deg,
      rgb(249, 240, 230),
      rgb(197, 232, 201));

  &.hidden {
    display: none;
  }

  .calculator-popup-title {
    margin-bottom: 24px;
    font-size: 36px;
    color: #00174b;
    text-align: center;
    line-height: 30px;

    .g {
      color: $theme-color;
    }
  }

  .cha-iconfont {
    position: absolute;
    right: 17px;
    top: 14px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }

  .counter-container {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .input-left {
      flex: 1;

      .amount-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          margin-left: 13px;
          font-size: 16px;
          color: #00174b;
          font-weight: 500;
        }

        .amount-input-box {
          position: relative;

          &::after {
            position: absolute;
            content: "$";
            font-size: 20px;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
          }

          .amount-input {
            padding-right: 35px;
            width: 135px;
            height: 40px;
            font-size: 18px;
          }
        }
      }

      input {
        position: relative;
        margin: 10px 0;
        font-family: 'Poppins';
        font-weight: 500;
        outline: none;
        border: none;
        background-color: #fff;
        border-radius: 30px;
        padding: 0 15px;
        box-sizing: border-box;
        border: 2px solid transparent;

        &::after {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          content: "";
          width: 100%;
          height: 100%;
        }

        &:focus {
          border-color: #f48d25;
        }

        &::-webkit-input-placeholder {
          /* Edge */
          color: #00174b;
          font-size: 16px;
        }

        &::-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #00174b;
          font-size: 16px;
        }

        &::placeholder {
          color: #00174b;
          font-size: 16px;
        }
      }

      .rate-box {
        position: relative;

        &::after {
          content: "%";
          font-size: 20px;
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
        }

        .rate-annualy-input {
          padding-right: 35px;
        }
      }

      .rate-annualy-input,
      .year-input,
      .months-input {
        width: 100%;
        height: 40px;
        font-size: 20px;
      }

      .text {
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: 500;
        color: $theme-color;
        margin-left: 15px;

      }
    }

    .results-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 30px;
        margin-top: 8px;
        margin-bottom: 40px;
        color: #00174b;

        .green {
          color: $theme-color;
        }
      }

      .results-container {
        display: flex;

        .submit-btn {
          width: 54px;
          height: 54px;
          margin-right: 35px;
          margin-top: 26px;
          border-radius: 50%;
          border: none;
          outline: none;
          background-color: $theme-color;
          color: #fff;
          font-size: 30px;
          cursor: pointer;
          transition: all linear 0.1s;

          &:hover {
            background-color: #65ce95;
          }
        }

        .results-box {
          .results-item {
            display: flex;
            margin-bottom: 10px;

            .icon {
              font-size: 35px;
              font-weight: bold;
              margin-right: 8px;
              line-height: 32px;
            }

            .results {
              display: flex;
              flex-direction: column;
              line-height: 31px;

              .value {
                font-size: 34px;
                font-weight: bold;
              }

              .value-title {
                font-size: 16px;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
