.main-container {
  padding-top: 80px;
  font-size: 0;
  .banner-area {
    background-image: linear-gradient(
      to right,
      rgb(237, 245, 228),
      rgb(255, 255, 255)
    );

    .banner-container {
      display: flex;
      justify-content: space-between;
      width: $rootWidth;
      margin: 0 auto;
      padding: 35px 0;
      .banner-content {
        .logo-box {
          display: flex;
          align-items: center;

          .website-logo {
            height: 56px;
            transform: translateY(-5px);
          }
          .cha-icon {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 13px;
            &::after,
            &::before {
              position: absolute;
              top: 50%;
              content: "";
              width: 20px;
              height: 4px;
              background-color: #00174b;
            }

            &::before {
              transform: rotateZ(-45deg);
            }
            &::after {
              transform: rotateZ(45deg);
            }
          }
          .credible-logo {
            height: 56px;
          }
        }
        .website-title {
          margin-top: 15px;
          font-size: 42px;
          line-height: 55px;
          color: #00174b;
          font-family: "Poppins-Medium";
        }

        .sub-title {
          margin: 16px 0;
          font-size: 21px;
          line-height: 29px;
          color: $theme-color;
        }

        .desc {
          font-size: 15px;
          line-height: 25px;
          color: #000;
          font-family: "Poppins-Medium";
        }

        .btn {
          display: block;
          width: 245px;
          height: 50px;
          margin-top: 27px;
          line-height: 50px;
          text-align: center;
          border-radius: 30px;
          background-color: #ed963e;
          color: #fff;
          font-family: "Poppins-Medium";
          text-decoration: none;
          transition: all linear 0.1s;
          .text {
            font-size: 21px;
            vertical-align: middle;
          }
          .iconfont {
            font-size: 24px;
            vertical-align: middle;
          }
          &:hover {
            background-color: #ff8000;
          }
        }
      }

      .img-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        .pic {
          width: 400px;
        }

        .trustpilot-box {
          display: flex;
          align-items: center;

          .text {
            font-family: "Poppins-Medium";
            font-size: 22px;
            color: #00174b;
            margin-right: 5px;
            font-weight: bold;
          }
          .iconfont {
            font-size: 16px;
            padding: 2px;
            color: #fff;
            margin: 0 1px;
            background-color: $theme-color;

            &.big-star {
              font-size: 24px;
              background-color: transparent;
              color: $theme-color;
              transform: translateY(-4px);
            }
          }
        }
      }
    }
  }

  .how-it-work-area {
    margin-top: 75px;
    .how-it-work-container {
      width: $rootWidth;
      margin: 0 auto;
      .title-box {
        text-align: center;
        margin-bottom: 20px;
        .text {
          font-size: 18px;
          color: $theme-color;
        }
        .area-title {
          font-size: 41px;
          color: #00174b;
          font-weight: normal;
          font-family: "Poppins-Bold";
        }
      }

      .works-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .work-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          .pic {
            height: 145px;
          }
          .title {
            font-size: 21px;
            color: #000;
            font-family: "Poppins-Medium";
          }
          .text {
            font-size: 15px;
            color: #000;
          }
        }
      }
    }
  }

  .info-area {
    margin: 75px 0;
    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: $rootWidth;
      margin: 0 auto;
      .info-box {
        display: flex;
        justify-content: space-between;
        .info-left {
          line-height: 40px;
          .num {
            font-size: 58px;
            color: $theme-color;
            font-family: "Poppins-Bold";
          }
          .desc {
            font-size: 33px;
            color: #000;
          }
        }
        .info-right {
          width: 50%;
          font-size: 32px;
          color: #00174b;
          .green {
            color: $theme-color;
            font-family: "Poppins-Bold";
          }
        }
      }
      .pic {
        width: 65%;
      }
      .btn {
        display: block;
        width: 245px;
        height: 50px;
        border-radius: 35px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        background-color: #ed963e;
        font-family: "Poppins-Medium";
        font-size: 28px;
        text-decoration: none;
        transition: all linear 0.1s;
        .text {
          font-size: 21px;
          vertical-align: middle;
        }
        .iconfont {
          font-size: 24px;
          vertical-align: middle;
        }
        &:hover {
          background-color: #ff8000;
        }
      }

      .small-text {
        margin-top: 45px;

        font-size: 26px;
      }
    }
  }

  .faq-area {
    width: $rootWidth;
    margin: 0 auto;

    .faq-area-title-box {
      display: flex;
      width: 100%;
      height: 275px;
      margin-top: 90px;
      margin-bottom: 110px;
      .pic {
        flex-shrink: 0;
        display: inline-block;
        width: 320px;
        height: 275px;
        margin-right: 62px;
      }
      .faq-content {
        .faq-title {
          font-size: 42px;
          font-weight: normal;
          color: #001139;
          line-height: 56px;
          span {
            display: block;
          }
        }
        .content {
          margin-top: 18px;
          font-size: 18px;
          line-height: 24px;
          color: #787e8b;
        }
      }
    }

    .faq-container {
      .faq-item {
        margin-bottom: 30px;
        .small-title {
          font-size: 18px;
        }
        .title {
          font-size: 25px;
          color: $theme-color;
          font-family: "Poppins-SemiBold";
        }
        .content {
          font-size: 16px;
          line-height: 28px;

          p {
            margin: 10px 0;
          }
          .small-title {
            font-size: 18px;
          }
          ul {
            li {
              display: flex;

              .circle {
                color: $theme-color;
                font-size: 10px;
                margin-top: 10px;
                margin-right: 9px;
              }
            }
          }
        }
      }
    }
  }
}

.main-container {
  @media screen and (max-width: 750px) {
    .banner-area {
      .banner-container {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        .banner-content {
          .website-title {
            font-size: 28px;
            line-height: 40px;
          }
          .sub-title {
            font-size: 18px;
            line-height: 24px;
          }
          .btn {
            margin-left: auto;
            margin-right: auto;
          }
        }
        .img-box {
          display: none;
        }
      }
    }

    .how-it-work-area {
      .how-it-work-container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;

        .works-box {
          flex-direction: column;
          justify-content: flex-start;

          .work-item {
            margin: 20px 0;
            .pic {
              height: 250px;
            }
          }
        }
      }
    }

    .info-area {
      .info-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        .info-box {
          flex-direction: column;
          text-align: center;
          .info-left {
            .desc {
              font-size: 24px;
            }
          }
          .info-right {
            width: 100%;
            .text {
              margin: 0;
              font-size: 24px;
            }
          }
        }
        .pic {
          width: 85%;
          margin-top: 20px;
          margin-bottom: 25px;
        }
        .small-text {
          text-align: center;
          font-size: 24px;
        }
      }
    }
    .faq-area {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;

      .faq-area-title-box {
        flex-direction: column;
        height: auto;
        margin-bottom: 35px;
        .pic {
          display: none;
        }
        .faq-content {
          order: 1;

          .faq-title {
            font-size: 28px;
            text-align: center;
          }
          .content {
            font-size: 16px;
          }
        }
      }
      .faq-container {
        .faq-item {
          .title {
            font-size: 20px;
          }
        }
      }
    }
  }
}
