.error-container {
  position: relative;
  width: 100%;
  padding-top: 80px;
  font-size: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    45deg,
    rgb(213, 239, 216),
    rgb(251, 244, 237)
  );
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: $rootWidth;
    .content-text {
      font-size: 35px;
      line-height: 50px;
      font-family: "Poppins-Bold";
      .big {
        font-size: 40px;
        margin-bottom: 15px;
      }
      .g {
        color: $theme-color;
      }
    }

    .pic {
      width: 500px;
    }

    .btn {
      display: none;
    }
  }
  @media screen and (max-width: 750px) {
    .content {
      width: 85%;
      box-sizing: border-box;
      flex-direction: column;
      .content-text {
        order: 2;

        font-size: 24px;
        line-height: 37px;

        .big {
          text-align: center;
          margin-bottom: 16px;
        }
      }
      .pic {
        order: 1;
        width: 100%;
        margin-bottom: 30px;
      }

      .btn {
        margin-top: 30px;
        order: 3;
        display: block;
        width: 75%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: #f48d25;
        border-radius: 30px;
        color: #fff;
        font-size: 22px;
        font-family: "Poppins-Medium";
      }
    }
  }
}
