.main-container {
  padding-top: 80px;

  .banner-area {
    width: 100%;

    .banner-container {
      width: $rootWidth;
      margin: auto;
      padding: 30px 0 15px;

      .history-nav {
        margin-bottom: 15px;
        font-size: 14px;
        color: #605e5e;
        display: flex;
        align-items: center;

        a {
          text-decoration-line: underline;
          text-decoration-color: #605e5e;
          color: #605e5e;

          &:hover {
            color: $theme-color;
            text-decoration-color: #605e5e;
          }
        }

        .title-box {
          display: inline-block;
          width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .title {
        width: 870px;
        font-size: 36px;
        color: #1f1c1c;
      }
    }
  }

  .guides-container {
    position: relative;
    width: $rootWidth;
    margin: 0 auto;
    z-index: 1;

    .guides-left {
      width: 750px;

      .author-info {
        display: flex;
        align-items: center;

        .author-img {
          display: inline-block;
          width: 32px;
          height: 32px;
          margin-right: 12px;
          border-radius: 50%;
        }

        .info-box {
          display: flex;
          font-size: 15px;
          color: #312f2f;
          font-style: italic;

          .author-name {
            font-weight: 600;
          }

          .updated {
            margin-left: 15px;
            font-size: 14px;
          }
        }
      }

      .share-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 0;

        .title {
          margin-right: 25px;
          font-size: 14px;
          color: #433d3d;
        }

        .share {
          button {
            width: 30px;
            height: 30px;
            margin-right: 18px;
            border-radius: 50%;
            border: none;
            outline: none;
            background-color: #016ca6;
            color: #fff;
            font-size: 22px;
            cursor: pointer;
          }
        }
      }

      .guides-content {
        font-size: 16px;
        line-height: 28px;
        font-family: Poppins, Arial, Helvetica, sans-serif;

        ::v-deep p {
          margin: 15px 0;

        }

        ::v-deep {
          ul {
            li {
              position: relative;
              padding-left: 15px;
              margin: 10px 0;

              &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 0.08rem;
                width: 0.1rem;
                height: 0.1rem;
                border-radius: 50%;
                background-color: #247781;
              }
            }
          }

          img {
            width: 100%;
          }
        }
      }

      .guides-bottom {
        .bottom-title {
          margin-bottom: 15px;
          font-size: 38px;
          color: #2f3233;
        }

        .title-list {
          color: #538da2;
          list-style: disc;

          a {
            text-decoration: none;
            color: #538da2;

            &:hover {
              text-decoration-line: underline;
              text-decoration-color: #538da2;
            }
          }

          li {
            margin-bottom: 15px;
            font-size: 16px;
          }
        }
      }
    }

    .top-area {
      position: absolute;
      top: 30px;
      right: 0;
      width: 310px;
      font-size: 0;
      //border: 1px solid #3ebd82;
      box-sizing: border-box;
      overflow: hidden;


      .title {
        display: inline-block;
        height: 60px;
        width: 100%;
        font-weight: 600;
        line-height: 60px;
        color: #001139;
        font-size: 19px;
        text-align: center;
        border-top: 2px solid #9d9d9d;
      }

      .top-list {
        background-color: #fff;

        .top-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          padding: 0 18px;
          height: 70px;
          border-bottom: 1px solid #bfbfbf;

          &:nth-of-type(1) {
            border-top: 1px solid #bfbfbf;
          }

          .logo {
            height: 55px;
            min-width: 20px;
          }

          a {
            display: inline-block;
            width: 120px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background-color: #1f9a61;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            border-radius: 30px;
            text-decoration: none;
            box-sizing: border-box;

            &:hover {
              background-color: #29b674;
            }

          }
        }
      }
    }
  }

  .keep-reading-area {
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;

    .keep-reading-container {
      width: $rootWidth;
      margin: 0 auto;

      .title {
        margin-bottom: 40px;
        font-size: 38px;
      }

      .read-list {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          a {
            text-decoration: none;
          }

          width: 250px;
          height: 350px;
          box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.16);
          cursor: pointer;

          .img-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 170px;

            img {
              width: 100%;
              height: 100%;
            }

            .tags {
              position: absolute;
              font-size: 12px;
              background: #1f9a61;
              padding: 2px 5px;
              left: 0;
              top: 0;
              color: #fff;
              font-weight: 500;
              border-bottom-right-radius: 5px;
            }
          }

          .title-box {
            width: 100%;
            box-sizing: border-box;
            padding: 25px 20px;
            font-size: 18px;
            color: #000;
          }
        }
      }
    }
  }
}

.main-container {
  @media screen and (max-width: 750px) {
    padding-top: 70px;

    .banner-area {
      height: auto;
      background-color: #fff;
      padding-top: 20px;

      .banner-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        .history-nav {
          font-size: 14px;
          margin-bottom: 10px;
        }

        .title {
          width: 100%;
          font-size: 24px;
        }
      }
    }

    .guides-container {
      width: 100%;
      transform: translateY(0);
      top: 0;

      .guides-left {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;

        .author-info {
          .author-img {
            display: none;
          }

          .info-box {
            margin-top: 15px;
          }
        }

        .share-box {
          display: none;
        }

        .guides-content {
          font-size: 16px;
          margin-top: 30px;
        }

        .guides-bottom {
          .bottom-title {
            font-size: 24px;

            .title-list {
              font-size: 14px;
            }
          }
        }
      }

      .top-area {
        display: none;
      }
    }

    .keep-reading-area {
      height: auto;

      .keep-reading-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        .read-list {
          flex-direction: column;

          li {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
