.main-container {
  padding-top: 80px;

  .banner-area {
    position: relative;
    width: 100%;

    .banner-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: $rootWidth;
      padding: 30px 0 50px 0;
      margin: 0 auto;

      .banner-content {
        position: relative;
        z-index: 1;

        .website-title {
          font-size: 42px;
          margin-bottom: 20px;
          font-weight: 700;
          line-height: 56px;

          span {
            display: block;
          }
        }

        .content {
          font-size: 18px;
          line-height: 28px;
          color: #000;
        }
      }


    }
  }

  .learn-container {
    width: $rootWidth;
    margin: 0 auto;
    padding-bottom: 80px;

    .category-list {
      display: flex;
      width: fit-content;

      li {
        height: 40px;
        line-height: 40px;
        padding: 0 45px;
        cursor: pointer;
        border-bottom: 2px solid #1a7781;
        margin-right: 5px;

        &.current {
          position: relative;
          color: #fff;
          background-color: #1a7781;
          font-weight: 600;
          border-bottom: none;

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            content: '';
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-left: 10px solid transparent;
            border-bottom: 20px solid #fff;
            border-right: 10px solid #fff;
          }

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 0;
            height: 0;
            border-top: 20px solid #fff;
            border-left: 10px solid #fff;
            border-bottom: 20px solid transparent;
            border-right: 10px solid transparent;
          }

          a {
            color: #fff;
          }
        }

        a {
          text-decoration: none;
          display: inline-block;
          width: 100%;
          height: 100%;
          color: #1a7781;

        }
      }
    }

    .learn-title {
      margin-top: 60px;
      margin-bottom: 60px;
      font-size: 48px;
      color: $theme-color;
    }

    .category-item {
      margin-bottom: 40px;

      .category-title-box {
        display: flex;
        align-items: center;

        .pic {
          display: inline-block;
          width: 65px;
          height: 65px;
          border-radius: 50%;
        }

        .title {
          margin-left: 21px;
          font-size: 38px;
          color: #001139;
        }


      }

      .text {
        margin-top: 15px;
        font-size: 16px;
        line-height: 21px;
        color: #787e8b;
      }

      .blog-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;

        .blog-item {
          width: 345px;
          margin: 20px 0;
          font-size: 0;

          .img-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 207px;
            border-radius: 24px;
            box-sizing: border-box;
            overflow: hidden;

            a {
              display: block;
              width: 100%;
              height: 100%;
            }

            img {
              width: 100%;
              min-height: 100%;
            }

            img[lazy="error"],
            img[lazy="loading"] {
              height: 95%;
              width: auto;
            }
          }

          .blog-title {
            @include ellipsis(2);
            height: 60px;
            margin: 25px 0 10px 0;
            font-size: 18px;
            color: #001139;
          }

          .title-link {
            text-decoration: none;
          }

          .blog-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          .link {
            color: $theme-color;
            text-decoration: none;
            font-size: 16px;

            &:hover {
              text-decoration-line: underline;
              text-decoration-color: $theme-color;
            }
          }

          .date {
            font-size: 14px;
            color: #666;
          }
        }

        &::after {
          content: '';
          width: 345px;
        }
      }

      .view-more-box {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        .btn {
          width: 240px;
          height: 52px;
          font-size: 16px;
          color: $theme-color;
          border-radius: 8px;
          border: 1px solid $theme-color;
          background-color: transparent;
          outline: none;
          cursor: pointer;
        }
      }
    }

    .loading-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      li {
        margin: 40px 0;
      }
    }
  }
}

.main-container {
  @media screen and (max-width: 750px) {
    padding-top: 70px;

    .banner-area {
      .banner-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        align-items: flex-start;

        .banner-content {

          .website-title {
            flex-direction: row;
            font-size: 32px;
            margin-bottom: 5px;
            margin-top: 15px;

          }

          .content {
            font-size: 16px;
            margin-bottom: 14px;
          }
        }
      }

      .banner-img {
        height: 130px;
        right: 0;
      }
    }

    .learn-container {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;

      .category-list {
        flex-wrap: wrap;

        li {

          width: 48%;
          margin: 5px 2px;
          padding-left: 0;
          padding-right: 0;
          text-align: center;

          &::after,
          &::before {
            display: none;
          }
        }
      }

      .learn-title {
        font-size: 28px;
        margin-top: 50px;
        margin-bottom: 30px;
      }

      .category-item {
        .category-title-box {
          .pic {
            width: 34px;
            height: 34px;
          }

          .title {
            font-size: 24px;
          }
        }

        .text {
          font-size: 14px;
        }

        .blog-list {
          .blog-item {
            width: 47%;

            .img-box {
              height: 150px;
            }

            .blog-title {
              font-size: 14px;
            }

            .link {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
