body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
// button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 
.el-message__icon {
    font-size: 16px;
}
html,body {
    width: 100%;
    font-family: 'Poppins-Regular';
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.otf') format('opentype'),
    url('../fonts/Poppins-Regular.svg') format('svg');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff'),
    url('../fonts/Poppins-Bold.ttf') format('truetype'),
    url('../fonts/Poppins-Bold.otf') format('opentype'),
    url('../fonts/Poppins-Bold.svg') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.eot');
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
    url('../fonts/Poppins-Light.woff') format('woff'),
    url('../fonts/Poppins-Light.ttf') format('truetype'),
    url('../fonts/Poppins-Light.otf') format('opentype'),
    url('../fonts/Poppins-Light.svg') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.eot');
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff'),
    url('../fonts/Poppins-Medium.ttf') format('truetype'),
    url('../fonts/Poppins-Medium.otf') format('opentype'),
    url('../fonts/Poppins-Medium.svg') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff'),
    url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
    url('../fonts/Poppins-SemiBold.otf') format('opentype'),
    url('../fonts/Poppins-SemiBold.svg') format('svg');
    font-display: swap;
}

@font-face {
    font-family: 'iconfont';  /* Project id 2472982 */
    src: url('//at.alicdn.com/t/font_2472982_m9pfqd63il.woff2?t=1623737418820') format('woff2'),
         url('//at.alicdn.com/t/font_2472982_m9pfqd63il.woff?t=1623737418820') format('woff'),
         url('//at.alicdn.com/t/font_2472982_m9pfqd63il.ttf?t=1623737418820') format('truetype');
  }
.iconfont {
    font-family: 'iconfont';
}