.main-container {
  padding-top: 80px;

  .banner-area {
    .slogan {

      padding: 8px 0;
      text-align: center;
      font-size: 18px;
      color: #fff;
      background-color: rgb(26, 119, 129);
      font-weight: 600;

      @media screen and (max-width: 750px) {
        display: none;
      }
    }

    .banner-container {
      width: $rootWidth;
      margin: 0 auto;

      .title {
        margin-top: 30px;
        margin-bottom: 8px;
        font-size: 45px;
        font-weight: bold;
      }

      .introduce-container {
        .author-info {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .author-image {
            width: 32px;
            height: 32px;
            margin-right: 12px;
            border-radius: 50%;
          }

          .author-desc {
            color: #666;

            .author-name {
              color: #000;
              font-weight: 600;
            }
          }

          .updated {
            margin-left: 15px;
            font-size: 14px;
            font-style: italic;
          }
        }

        .introduce-content {
          position: relative;
          padding: 1px 20px;
          background-color: #F3F4F8;
          border-radius: 4px;
          line-height: 24px;
          max-height: 160px;
          overflow: hidden;
          transition: max-height linear 0.5s;

          &.show {
            max-height: 800px;
          }

          .iconfont {
            position: absolute;
            bottom: 0;
            font-size: 16px;
            color: #818181;
            left: 50%;
            transform: rotateZ(0deg) translateX(-50%);
            cursor: pointer;

            &.show {
              transform: rotateZ(180deg) translateX(-50%);
            }
          }

          &::before {
            position: absolute;
            content: '';
            top: -24px;
            left: 50px;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid #f3f4f8;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
          }

          p {
            margin: 15px 0;
          }
        }
      }
    }
  }

  .preface-area {
    .preface-container {
      width: $rootWidth;
      margin: 0 auto;

      .title {
        font-size: 30px;
        color: #247781;
        font-weight: 700;
        margin-top: 20px;
      }

      .preface-content {
        color: #000;
        line-height: 24px;

        p {
          margin: 15px 0;
        }
      }
    }
  }

  .product-area {
    .product-container {
      width: $rootWidth;
      margin: 0 auto;

      .product-container-top-box {
        display: flex;
        justify-content: flex-end;
        margin: 30px 0 5px 0;
        font-size: 0;

        .disclosure {
          position: relative;

          .title {
            font-style: italic;
            font-size: 14px;
            color: #8f8f8f;
            cursor: pointer;
          }

          .disclosure_content {
            display: none;
            position: absolute;
            top: 101%;
            background: #fff;
            width: 350px;
            font-size: 12px;
            padding: 8px;
            z-index: 9;
            border: 1px solid #e2e2e2;

            &.show {
              display: block;
            }

            &::after {
              content: "";
              position: absolute;
              top: -10px;
              left: 30px;
              width: 0;
              height: 0;
              border: 5px solid transparent;
              border-bottom-color: #e2e2e2;
            }
          }
        }

      }

      .product-list-box {
        width: 100%;
        box-sizing: border-box;
        border-top: 2px solid #9d9d9d;

        .product-title-box {
          display: flex;
          align-items: center;
          width: 100%;
          height: 50px;
          font-size: 16px;
          color: #001139;
          font-weight: 600;

          .lenders {
            flex: 28;
            padding-left: 50px;
          }

          .score {
            flex: 33;
            padding-left: 50px;

            .popper {
              background-color: $theme-color;
              border-radius: 15px;
            }

            .iconfont {
              display: inline-block;
              width: 19px;
              height: 19px;
              border-radius: 50%;
              text-align: center;
              line-height: 19px;
              background-color: #00174b0d;
              cursor: pointer;
            }
          }

          .features {
            flex: 40;
          }

          .terms {
            flex: 33;
          }
        }

        .product-list {
          .product-item {
            position: relative;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0, 22, 75, 0.3);
            transition: transform .1s linear;
            transform: scale(1);

            &:hover {
              transform: scale(1.01);
            }

            &:nth-last-of-type(1) {
              border: none;

              .product-item-container .img-score-box .img-box img {

                width: 176px;
                height: auto;
              }

            }

            &:nth-of-type(1) {
              // padding: 55px 50px;
              border-left: 1px solid #ddd;
              border-right: 1px solid #ddd;
              border-top: 2px solid #ddd;
              border-bottom: 2px solid #ddd;
              box-shadow: 0px 6px 12px #e4f4ee;

              .product-item-container {
                .img-score-box {
                  .img-box {
                    img {
                      width: 176px;
                      height: auto;
                    }
                  }
                }
              }
            }

            .corner-box {
              position: absolute;
              top: 0;
              left: -8px;
              height: 34px;
              padding: 0 25px;
              line-height: 34px;
              color: #fff;
              background-image: linear-gradient(90deg, #c28500 0, #e1a931 42%, #e1a931 61%, #b87d06);
              font-size: 18px;
              text-align: center;
              font-weight: 700;

              &::after {
                content: "";
                position: absolute;
                right: -1px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 17px solid transparent;
                border-bottom: 17px solid transparent;
                border-left: 13px solid transparent;
                border-right: 13px solid #fff;
              }

              &::before {
                content: "";
                position: absolute;
                left: 0px;
                top: -8px;
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-left: 4px solid transparent;
                border-right: 4px solid #b87d06;
                border-bottom: 4px solid #b87d06;
              }
            }

            .visited-box {
              position: absolute;
              top: 12px;
              right: 55px;
              padding: 7px 10px;
              border-radius: 7px;
              border: 1px solid #e5e6e6;
              box-shadow: 0px 9px 12px rgba(134, 135, 136, 0.16);
              font-size: 14px;
              color: #484644;
              background-color: #fff;

              strong {
                color: #484644;
                font-weight: 700;
              }

              .iconfont {
                display: inline-block;
                width: 23px;
                height: 23px;
                background-image: url("../assets/img/person-icon.webp");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                vertical-align: middle;
              }

              .text {
                vertical-align: middle;
              }
            }

            .product-item-container {
              display: flex;
              padding: 25px 10px;

              .img-score-box {
                flex: 38;
                display: flex;
                align-items: center;

                .img-box {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex: 1;
                  margin-right: 7px;

                  img {
                    width: 160px;
                    //height: 80px;
                  }
                }

                .rate-box {
                  flex: 1;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  font-size: 0;

                  // border-left: 1px solid rgba(0, 23, 75, .05);
                  // border-right: 1px solid rgba(0, 23, 75, .05);
                  .rate {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .trustpilot-box {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      font-size: 14px;

                      .text-box {
                        .iconfont {
                          color: $theme-color;
                          font-size: 20px;
                        }

                        .text {
                          font-size: 16px;
                          font-weight: 600;
                        }
                      }

                      .star-list {
                        display: flex;
                        align-items: center;
                        margin-top: 2px;

                        li {
                          width: 18px;
                          height: 18px;
                          text-align: center;
                          line-height: 18px;
                          color: #fff;
                          background-color: $theme-color;
                          margin: 0 1px;
                        }
                      }
                    }

                    .score {
                      font-size: 34px;
                      color: #001139;
                      font-weight: 600;
                    }

                    .score-text {
                      display: inline-block;
                      margin-top: 12px;
                      font-size: 14px;
                    }
                  }
                }
              }

              .features-terms-box {
                flex: 46;

                display: flex;
                align-items: center;
                justify-content: center;

                .list-box {
                  flex: 8;
                  padding-left: 20px;
                  padding-right: 20px;

                  .features-list {
                    font-size: 16px;

                    dt {
                      color: #001139;

                      .phone-text {
                        display: none;
                      }
                    }

                    dd {
                      display: flex;
                      align-items: center;

                      .iconfont {
                        color: $theme-color;
                      }

                      .text {
                        margin-left: 12px;
                        color: #484644;
                      }

                      &:nth-of-type(1) {
                        display: inline-block;
                        font-size: 16px;
                        width: auto;
                        font-weight: 700;
                        padding: 2px 10px;
                        border: 1px solid #5a5a5c;
                        border-radius: 7px;
                        margin-bottom: 15px;

                        .text {
                          color: #1b1a1a;
                          margin-left: 0;
                        }
                      }
                    }
                  }
                }

                .phone-details-box,
                .details-box {
                  margin-left: 30px;
                  margin-top: 10px;
                  font-size: 14px;
                  color: #7c7c80;
                  cursor: pointer;

                  .text,
                  .iconfont {
                    vertical-align: middle;
                  }

                  .iconfont {
                    display: inline-block;
                    transform: rotateZ(0deg);
                    transition: all linear 0.1s;
                    color: $theme-color;
                  }

                  &.rotate {
                    .iconfont {
                      transform: rotateZ(-180deg);
                    }
                  }
                }

                .phone-details-box {
                  display: none;
                }
              }

              .phone-key-facts-container {
                display: none;
                background-color: #f8f8f8;
                font-size: 0;
                padding: 10px 30px;
                margin-top: 10px;

                .title {
                  display: inline-block;
                  font-size: 18px;
                  color: #2b2525;
                  margin-bottom: 20px;
                }

                .phone-key-facts-list {
                  li {
                    display: flex;
                    margin-bottom: 5px;

                    .iconfont {
                      font-size: 15px;
                      color: #29b674;
                      margin-top: 6px;
                      margin-right: 20px;
                    }

                    .text {
                      font-size: 16px;
                      color: #707070;
                    }
                  }
                }
              }

              .btn-box {
                flex: 18;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .btn {
                  display: block;
                  width: 190px;
                  height: 48px;
                  margin-bottom: 10px;
                  line-height: 48px;
                  text-align: center;
                  color: #fff;
                  background-color: #1f9a61;
                  font-size: 16px;
                  border-radius: 30px;
                  font-weight: bold;
                  text-decoration: none;
                  transition: all linear 0.1s;

                  .iconfont {
                    font-weight: normal;
                  }

                  &:hover {
                    background-color: #29b674;
                  }
                }

                .quicken-loasn-btn {
                  font-size: 14px;
                  color: $theme-color;
                  text-decoration: none;
                }
              }
            }

            .product-content-container {
              display: none;

              .product-content-container-box {
                display: flex;
                width: 100%;
                margin-top: 25px;
                padding: 10px 15px;
                box-sizing: border-box;
                background-color: rgb(248, 248, 248);
                font-size: 0;

                .title {
                  display: inline-block;
                  font-size: 18px;
                  color: #2b2525;
                  font-weight: 600;
                  margin-bottom: 20px;
                }

                .pros-cons-box {
                  flex: 1;
                  flex-shrink: 0;
                }

                .review-key_facts-box {
                  flex: 1;
                }

                .pros-box {
                  margin-bottom: 20px;
                }

                .pros-list,
                .cons-list,
                .key-facts-list {
                  li {
                    display: flex;
                    line-height: 28px;

                    .text {
                      font-size: 14px;
                    }
                  }
                }

                .key-facts-list {
                  li {
                    .iconfont {
                      font-size: 15px;
                      color: #247781;;
                      margin-top: 1px;
                      margin-right: 12px;
                    }
                  }
                }

                .pros-list,
                .cons-list {
                  li {
                    .circle {
                      margin-right: 12px;
                      margin-top: 2px;
                      font-size: 24px;
                      line-height: 21px;
                      color: #247781;;
                    }
                  }
                }

                .review-link-box {
                  text-align: right;
                  margin-top: 20px;

                  .review-btn {
                    font-size: 18px;
                    color: $theme-color;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }

      .more-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-size: 16px;

        .btn {
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          color: #8f8f8f;

          &.close {
            .iconfont {
              display: inline-block;
              transform: rotateZ(-180deg);
            }
          }
        }

        .text {
          display: inline-block;
          margin-right: 21px;
          vertical-align: middle;
        }
      }
    }
  }


  .faq-area {
    margin-bottom: 60px;

    .faq-container {
      width: $rootWidth;
      margin: 40px auto 0 auto;

    }

    .title {
      font-size: 30px;
      color: #247781;
      font-weight: 700;
      margin-bottom: 15px;
    }

    .question-content {
      line-height: 28px;
      color: #000;

      .question-title {
        font-size: 20px;
        border-left: 5px solid #247781;
        padding-left: 10px;
        margin: 25px 0 10px;
      }

      p {
        margin: 10px 0;

      }

      ul {
        li {
          margin: 10px 0;
          position: relative;
          padding-left: 18px;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 8px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #247781;
          }
        }
      }
    }
  }
}

.main-container {
  @media screen and (max-width: 750px) {
    padding-top: 70px;

    .banner-area {
      .slogan {
        display: none;
      }

      .banner-container {
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;

        .title {
          margin-top: 0;
          font-size: 36px;
        }

      }

    }

    .preface-area {
      .preface-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        .title {
          margin-top: 0;
          font-size: 25px;
        }
      }
    }


    .product-area {
      .product-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        .product-container-top-box {
          flex-direction: column;
          justify-content: flex-start;
          margin-top: 0;
          margin-bottom: 5px;

          .disclosure {

            margin-top: 17px;
            text-align: right;
          }
        }

        .product-list-box {
          border: none;

          .product-title-box {
            display: none;
          }

          .product-list {
            .product-item {
              height: auto;
              margin-bottom: 15px;
              padding: 30px 0;
              border: 1px solid #00164b1a;
              box-sizing: border-box;
              border-radius: 18px;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

              .product-item-container {
                .img-score-box {
                  .img-box {
                    img {
                      width: 176px;
                      height: auto;
                    }
                  }
                }
              }

              &:nth-last-of-type(1) {
                border: 1px solid #00164b1a;
              }

              .visited-box {
                display: none;
              }

              .product-item-container {
                flex-direction: column;
                padding: 0;

                .img-score-box {
                  padding-bottom: 0 30px 20px 30px;
                  border-bottom: 1px solid #00164b1a;

                  .rate-box {
                    border: none;
                  }
                }

                .phone-key-facts-container {
                  display: none;
                }

                .features-terms-box {
                  padding: 0 30px;
                  margin-top: 22px;
                  align-items: flex-start;

                  .list-box {
                    flex: 2;
                    padding: 0;

                    .features-list {
                      font-size: 14px;

                      dt {
                        margin-bottom: 16px;

                        .phone-text {
                          display: inline-block;
                          font-size: 18px;
                          color: #001139;
                          font-weight: 400;
                        }

                        .pc-text {
                          display: none;
                        }
                      }

                      dd {
                        &:nth-of-type(1) {
                          color: #001139;
                          margin-left: 0;
                        }

                        font-size: 16px;
                      }
                    }

                    .details-box {
                      display: none;
                    }

                    .phone-details-box {
                      display: block;
                    }
                  }
                }

                .btn-box {
                  padding: 0 30px;
                  margin-top: 35px;
                  margin-bottom: 20px;

                  .btn {
                    width: 70%;
                    height: 60px;
                    line-height: 60px;
                    font-size: 22px;
                    font-weight: bold;
                  }
                }
              }

              .product-content-container {
                .product-content-container-box {
                  padding: 15px 30px;

                  .pros-cons-box {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }


    .faq-area {

      .faq-container {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;

        .title {
          font-size: 26px;
        }
      }
    }
  }
}
