.main-container {
  padding-top: 80px;

  .slogan {

    padding: 8px 0;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: rgb(26, 119, 129);
    font-weight: 600;

    @media screen and (max-width: 750px) {
      display: none;
    }
  }

  .website-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $rootWidth;
    height: 90px;
    margin: 36px auto 53px auto;
    background-color: rgba(0, 195, 218, .1);
    border-radius: 4px;

    .text {
      font-size: 26px;
      font-weight: 600;
      color: #2E9A61;
    }

    .btn {
      display: inline-block;
      width: 119px;
      height: 36px;
      margin-left: 28px;
      background: #CB9600;
      border-radius: 4px;
      text-align: center;
      line-height: 36px;
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .banner-area {
    .banner-container {
      width: $rootWidth;
      margin: 0 auto;

      .title {
        margin-top: 35px;
        margin-bottom: 8px;
        font-size: 45px;
        font-weight: bold;
      }

      .introduce-container {
        .author-info {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          .author-image {
            width: 32px;
            height: 32px;
            margin-right: 12px;
            border-radius: 50%;
          }

          .author-desc {
            color: #666;

            .author-name {
              color: #000;
              font-weight: 600;
            }
          }

          .updated {
            margin-left: 15px;
            font-size: 14px;
            font-style: italic;
          }
        }

        .introduce-content {
          position: relative;
          padding: 1px 20px;
          background-color: #F3F4F8;
          border-radius: 4px;
          line-height: 24px;

          &::before {
            position: absolute;
            content: '';
            top: -24px;
            left: 50px;
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid #f3f4f8;
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
          }

          p {
            margin: 15px 0;
          }
        }
      }
    }
  }

  .preface-area {
    .preface-container {
      width: $rootWidth;
      margin: 0 auto;

      .title {
        font-size: 24px;
        color: #247781;
        font-weight: 700;
        margin-top: 20px;
      }

      .preface-content {
        color: #000;
        line-height: 24px;

        p {
          margin: 15px 0;
        }
      }

      .division {
        width: 100%;
        height: 30px;
        margin: 34px 0 20px 0;
      }
    }
  }

  .student-calculator-area {

    //background: url("../assets/img/mortgage-calculator-bg.webp") no-repeat center center/cover;

    .student-calculator-container {
      width: $rootWidth;

      margin: 0 auto;
      box-sizing: border-box;
      padding: 15px 0 15px 0;


      .title-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid #247781;

        .title {
          padding-left: 10px;
          font-size: 32px;
          font-weight: 700;
          border-left: 8px solid #247781;
        }

        .help-container {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 3px;
            width: 29px;
            height: 34px;
          }

          .text {
            margin-right: 8px;
            font-size: 12px;
            line-height: 14px;
          }

          .input-box {
            display: flex;
            align-items: center;
            height: 28px;
            border: 1px solid #C8C8C8;
            border-radius: 2px;
            box-sizing: border-box;

            .input {
              outline: none;
              border: none;
              background: transparent;
              width: 180px;
              height: 28px;
              box-sizing: border-box;
              padding: 3px 2px;
              font-size: 12px;
              font-family: Poppins, Arial, Helvetica, sans-serif;
            }


            .send {
              width: 65px;
              height: 28px;
              padding: 0 4px;
              font-size: 12px;
              outline: none;
              color: #fff;
              border: none;
              background: #CB9600;
              cursor: pointer;
            }
          }
        }
      }

      .calculator-container {
        width: 865px;
        margin: 30px auto 0 auto;
        border: 1px solid #cfcfd4;
      }

      .calculator-form-box {

        display: flex;


        .calculator-form {
          flex: 1;
          background-color: #f0f0f2;
          box-sizing: border-box;
          padding: 20px;

          .input-block-item {
            display: flex;
            flex-direction: column;
            margin: 14px 0;

            label {
              font-weight: 600;
              margin-bottom: 7px;
            }

            .input-box {


              &.loan-amount-input {
                position: relative;

                input {
                  padding-left: 28px;
                }

                &::before {
                  position: absolute;
                  top: 48%;
                  transform: translateY(-50%);
                  left: 15px;
                  content: '$';
                  font-size: 16px;
                  font-weight: 600;
                }
              }

              &.submit-input-box {
                position: relative;

                input {
                  padding-right: 28px;
                }

                &::before {
                  position: absolute;
                  top: 48%;
                  transform: translateY(-50%);
                  right: 15px;
                  content: '%';
                  font-size: 16px;
                  font-weight: 600;
                }
              }

            }

            input {
              border: 1px solid #a7a8af;
              box-sizing: border-box;
              padding: 9px 15px;
              outline: none;
              width: 100%;
              font-size: 16px;
              font-weight: 600;
              font-family: 'Poppins', Arial, Helvetica, sans-serif;
            }

            .submit-btn {
              flex-shrink: 0;
              margin-left: 20px;
              width: 145px;
              height: 47px;
              outline: none;
              border: none;
              font-size: 14px;
              font-weight: 600;
              cursor: pointer;
              color: #fff;
              background-color: #1a7781;

              &:hover {
                background-color: #202020;
              }
            }

            .form-bottom-box {
              display: flex;
            }
          }
        }

        .calculator-results-container {
          flex: 1;
          padding: 20px;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .results-top {
            text-align: center;

            .results {
              margin-bottom: 27px;

              .money-box {
                margin-top: 6px;

                .coin {
                  font-size: 25px;
                }

                .money {
                  font-size: 45px;
                  font-weight: bold;
                }
              }
            }

            .total-paid-box {
              display: flex;
              justify-content: space-between;
              padding: 7px 0;
              border-bottom: 1px solid #000;

              &:nth-last-of-type(1) {
                border: none;
              }
            }
          }

          .btn-group {
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn {
              display: block;
              width: 100%;
              text-align: center;
              padding: 4px 11px;
              border: 4px solid #ffce48;
              color: #202020;
              background-color: #fff;
              text-decoration: none;
              margin-bottom: 14px;
              font-weight: 600;
              box-sizing: border-box;

              &:hover {
                background-color: #ffce48;
              }
            }

            .switch-btn {
              font-size: 14px;
              color: #2e9a61;
              cursor: pointer;
            }
          }
        }
      }

      .add-extra-payments-container {
        border-top: 1px solid #cfcfd4;
        padding: 0 20px;

        .switch-btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 55px;
          cursor: pointer;

          &.show {
            .iconfont {
              display: inline-block;
              transform: rotateZ(-180deg);
            }
          }
        }

        .extra-payments-container {

          max-height: 0;
          overflow: hidden;
          transition: all linear .5s;

          &.show {
            max-height: 1000px;
          }

          .text {
            font-size: 14px;
          }

          .info-item {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item-left {
              display: flex;
              align-items: center;

              .input-box {
                position: relative;
                margin-right: 34px;

                &::before {
                  content: '$';
                  position: absolute;
                  left: 13px;
                  top: 10px;
                  font-weight: 600;
                }

                input {
                  border: 1px solid #a7a8af;
                  display: block;
                  padding: 9px 13px 9px 25px;
                  width: 100%;
                  outline: none;
                  font-size: 16px;
                  font-family: 'Poppins', Arial, Helvetica, sans-serif;
                  font-weight: 600;
                  box-sizing: border-box;
                }
              }

              .tips {
                font-size: 14px;
              }
            }

            .item-right {
              select {
                border: 1px solid #ccc;
                padding: 10px;
                font-weight: 600;
                outline: none;
                margin-left: 10px;
                font-family: 'Poppins', Arial, Helvetica, sans-serif;
              }
            }

            &.button-info {
              justify-content: flex-end;
            }

            .btn {
              width: 400px;
              height: 33px;
              border: none;
              outline: none;
              background-color: #1a7781;
              color: #fff;
              font-weight: 600;
              justify-self: flex-end;

              &:hover {
                background-color: #202020;
                cursor: pointer;
              }
            }
          }
        }
      }


    }
  }

  .product-area {
    .product-container {
      width: $rootWidth;
      margin: 0 auto;

      .product-container-top-box {
        display: flex;
        justify-content: flex-end;
        margin: 25px 0;


        .disclosure {
          display: flex;
          align-items: flex-end;
          position: relative;

          .title {
            font-size: 14px;
            color: #8f8f8f;
            cursor: pointer;
          }

          .disclosure_content {
            display: none;
            position: absolute;
            top: 101%;
            background: #fff;
            width: 350px;
            font-size: 12px;
            padding: 8px;
            z-index: 9;
            border: 1px solid #e2e2e2;

            &::after {
              content: '';
              position: absolute;
              top: -10px;
              left: 30px;
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-bottom: 5px solid #e2e2e2;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
            }

            &.show {
              display: block;
            }
          }
        }
      }

      .product-list-box {
        width: 100%;
        //border-radius: 16px;
        box-sizing: border-box;
        // overflow: hidden;
        //border: 1px solid rgba(0, 23, 75, 0.1);
        border-top: 2px solid #9d9d9d;

        .product-title-box {
          display: flex;
          align-items: center;
          width: 100%;
          height: 50px;
          font-size: 16px;
          color: #001139;
          font-weight: 600;

          .lenders {
            flex: 28;
            padding-left: 50px;
          }

          .score {
            flex: 23;
            padding-left: 50px;

            .popper {
              background-color: $theme-color;
              border-radius: 15px;
            }

            .iconfont {
              display: inline-block;
              width: 19px;
              height: 19px;
              border-radius: 50%;
              text-align: center;
              line-height: 19px;
              background-color: #00174b0d;
              cursor: pointer;
            }
          }

          .features {
            flex: 51;
            font-weight: 600;
          }

          .terms {
            flex: 69;
            font-weight: 600;
          }
        }

        .product-list {
          .product-item {
            position: relative;
            // height: 186px;
            padding: 45px 0px 45px 10px;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(0, 22, 75, 0.3);
            transition: transform .1s linear;
            transform: scale(1);

            &:hover {
              transform: scale(1.01);
            }


            &:nth-of-type(1) {
              padding: 55px 0;
              border-color: #dddddd;
              border-style: solid;
              border-width: 2px 1px;
              box-shadow: 0px 6px 12px #dddddd;
            }

            .corner-box {
              position: absolute;
              top: 0px;
              left: -8px;
              height: 34px;
              padding: 0 25px;
              line-height: 34px;
              //background-color: #fd9c28;
              background-image: linear-gradient(to right, #c28500 0, #e1a931 42%, #e1a931 61%, #b87d06 100%);
              color: #fff;
              font-size: 18px;
              text-align: center;
              font-weight: 700;

              &::after {
                content: "";
                position: absolute;
                right: -1px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 17px solid transparent;
                border-bottom: 17px solid transparent;
                border-left: 13px solid transparent;
                border-right: 13px solid #fff;
              }

              &::before {
                content: "";
                position: absolute;
                left: 0px;
                top: -8px;
                width: 0;
                height: 0;
                border-top: 4px solid transparent;
                border-left: 4px solid transparent;
                border-right: 4px solid #b87d06;
                border-bottom: 4px solid #b87d06;
              }

              &.green {
                background-image: none;
                background-color: #1a7781;

                &::before {
                  border-right: 4px solid #1a7781;
                  border-bottom: 4px solid #1a7781;
                }
              }
            }

            .visited-box {
              position: absolute;
              top: 12px;
              right: 55px;
              padding: 7px 10px;
              border-radius: 7px;
              border: 1px solid #e5e6e6;
              box-shadow: 0px 9px 12px rgba(134, 135, 136, 0.16);
              font-size: 14px;
              // color: #262525;
              color: #484644;
              background-color: #fff;

              .iconfont {
                display: inline-block;
                width: 23px;
                height: 23px;
                background-image: url("../assets/img/person-icon.webp");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                vertical-align: middle;
              }

              strong {
                font-weight: 700;
              }

              .text {
                vertical-align: middle;
                // color: $theme-color;
              }
            }

            .product-item-container {
              display: flex;

              .img-score-box {
                flex: 34;
                display: flex;
                align-items: center;

                .img-box {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: center;
                  flex: 1;
                  margin-right: 7px;

                  img {
                    width: 160px;
                    height: 80px;
                  }

                  .disclaimer {
                    font-size: 14px;
                    color: #484644;

                    .iconfont {
                      display: inline-block;
                      width: 19px;
                      height: 19px;

                      border-radius: 50%;
                      text-align: center;
                      line-height: 19px;
                      background-color: #00174b0d;
                      cursor: pointer;
                    }
                  }
                }

                .rate-box {
                  flex: 1;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  // line-height: 0;
                  font-size: 0;
                  border-left: 1px solid rgba(0, 23, 75, 0.05);
                  border-right: 1px solid rgba(0, 23, 75, 0.05);

                  .rate {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .trustpilot-box {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      font-size: 14px;

                      .text-box {
                        .iconfont {
                          color: $theme-color;
                          font-size: 20px;
                        }

                        .text {
                          font-size: 16px;
                          font-weight: 600;
                        }
                      }

                      .star-list {
                        display: flex;
                        align-items: center;
                        margin-top: 2px;

                        li {
                          width: 18px;
                          height: 18px;
                          text-align: center;
                          line-height: 18px;
                          color: #fff;
                          background-color: $theme-color;
                          margin: 0 1px;
                        }
                      }
                    }

                    .score {
                      font-size: 34px;
                      color: #001139;
                      font-weight: 600;
                      line-height: 41px;
                    }

                    .reviews-link {
                      margin-top: 8px;
                      // color: #929694;
                      color: #484644;
                      font-size: 12px;
                      text-decoration-line: underline;
                      text-decoration-color: #484644;

                      &:hover {
                        color: $theme-change-color;
                        text-decoration-color: $theme-change-color;
                      }
                    }
                  }
                }
              }

              .phone-slogan {
                display: none;
                font-size: 16px;
                margin: 15px 0;
                color: #001139;
              }

              .features-terms-box {
                flex: 50;

                display: flex;
                align-items: center;
                justify-content: center;

                .list-box {
                  padding-left: 20px;
                  padding-right: 20px;
                  flex: 10;

                  .features-list {
                    font-size: 16px;

                    dt {
                      color: #001139;
                      font-weight: 600;
                      margin-bottom: 8px;

                      .phone-text {
                        display: none;
                      }
                    }

                    dd {
                      display: flex;
                      align-items: center;

                      .iconfont {
                        color: $theme-color;
                      }

                      strong {
                        font-weight: normal;
                        color: #000000;
                      }

                      .text {
                        margin-left: 12px;
                        color: #64666a;

                        .iconfont {
                          display: inline-block;
                          width: 19px;
                          height: 19px;
                          color: #484644;
                          border-radius: 50%;
                          text-align: center;
                          line-height: 19px;
                          background-color: #00174b0d;
                          cursor: pointer;
                        }
                      }
                    }
                  }
                }

                .terms-box {
                  flex: 9;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  border-left: 1px solid rgba(0, 23, 75, 0.1);
                  font-size: 24px;
                  margin-top: 15px;
                  color: #001139;

                  .title {
                    display: none;
                  }
                }
              }

              .btn-box {
                flex: 21;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .btn {
                  display: block;
                  width: 190px;
                  height: 48px;
                  line-height: 48px;
                  text-align: center;
                  color: #fff;
                  background-color: $theme-change-color;
                  font-size: 16px;
                  border-radius: 30px;
                  text-decoration: none;
                  transition: all linear 0.1s;

                  &:hover {
                    background-color: $theme-color;
                  }
                }

                .visit-btn {
                  margin-top: 5px;
                  font-size: 14px;
                  color: #7a7a7a;
                }
              }
            }
          }
        }

        .no-results {
          text-align: center;
          color: $theme-color;
          font-size: 100px;
        }
      }

    }
  }

  .personal-content-area {
    .personal-content-container {
      width: $rootWidth;
      margin: 35px auto;

      .personal-container-title {
        color: #247781;
        font-size: 24px;
        font-weight: 700;
        margin: 18px 0;
      }

      .personal-container-subtitle {
        font-size: 20px;
        font-weight: 700;
        margin: 10px 0;
      }

      .personal-content {
        line-height: 24px;

        .green {
          color: #2E9A61;
          font-weight: 500;
        }

        .formula {
          font-size: 24px;
        }

        .rule {
          .rule-title {
            font-weight: 600;
            margin-bottom: 15px;
          }

          dd {
            display: flex;

            .text {
              margin: 0;
            }

            .circle {
              display: inline-block;
              width: 10px;
              height: 10px;
              margin-top: 6px;
              flex-shrink: 0;
              margin-right: 12px;
              border-radius: 50%;
              background-color: #247781;
            }
          }
        }

        p {
          margin: 15px 0;
        }

        a {
          color: #1176EA;
          text-decoration-line: underline;
        }
      }
    }
  }

  .must-read-area {
    margin-bottom: 30px;

    .must-read-container {
      width: $rootWidth;
      margin: 0 auto;

      .read-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      .read-list {
        a {
          line-height: 36px;
          font-size: 18px;
          color: #2E9A61;
          text-decoration-line: underline;
        }
      }

    }
  }

  .best-mortgage-lenders-area {
    .best-mortgage-lenders-container {
      width: $rootWidth;
      margin: 0 auto;

      .title {
        margin-top: 36px;
        margin-bottom: 54px;
        font-size: 30px;
        font-weight: 700;
        color: #247781;
      }

      .best-mortgage-lenders-main {
        display: flex;
        margin-bottom: 95px;

        .description-container {
          width: 190px;
          margin-right: 20px;
          flex-shrink: 0;
          margin-top: 38px;

          .text-content {

            .text-title {
              font-size: 28px;
              font-weight: 400;
            }

            .text {
              margin-top: 13px;
              font-size: 14px;
              color: #7A7A7A;
              line-height: 24px;
            }
          }

          .attribute-list {
            margin-top: 90px;

            li {
              height: 78px;
              border-top: 2px solid #F3F4F8;
              line-height: 78px;
              text-align: center;
              color: #247781;
              font-weight: 600;

              &:nth-last-of-type(1) {
                border-bottom: 2px solid #F3F4F8;
              }


            }
          }
        }

        .card-container {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .card-item {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 270px;
            margin-top: 38px;
            background: #FFFFFF;

            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);


            .best-icon {
              display: none;
            }

            .card-top {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 124px;
              text-align: center;
              border-radius: 4px 4px 0 0;

              &.first {
                background-image: linear-gradient(0deg, #E1A600 0%, #FFCA4C 100%);
              }

              &.second {
                background-image: linear-gradient(0deg, #C57EDA 0%, #8F83DF 100%);
              }

              &.third {
                background-image: linear-gradient(0deg, #10CACC 0%, #2BDA9E 100%);
              }

              .desc {
                color: #fff;
                font-size: 14px;
                line-height: 21px;

                .strong {

                  font-weight: 900;
                }
              }
            }

            .card-middle {
              height: 200px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              .middle-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translateY(-38px);

                .logo-box {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 116px;
                  height: 116px;
                  border-radius: 50%;
                  background: #FFFFFF;
                  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
                }

                .button-group {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-top: 27px;

                  .btn {
                    display: block;
                    width: 158px;
                    height: 36px;
                    margin-bottom: 4px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #fff;
                    text-align: center;
                    line-height: 36px;
                    background: #2E9A61;
                    border-radius: 4px;
                    text-decoration: none;
                  }

                  .visit-site {
                    font-size: 13px;
                    color: #999;
                  }
                }
              }

            }

            .attr-list {
              border-radius: 0 0 4px 4px;
              overflow: hidden;

              li {
                height: 80px;
                line-height: 80px;
                text-align: center;
                font-size: 26px;
                background-color: #fff;

                &:nth-child(odd) {
                  background-color: #F3F4F8;
                }
              }
            }

            &.best-choice {
              margin-top: 0;
              position: relative;

              .best-icon {
                display: block;
                position: absolute;
                width: 128px;
                height: 90px;
                right: -12px;
                top: -9px;
              }

              .card-top {
                height: 162px;
                padding: 0 10px;

                .desc {
                  font-size: 16px;
                }
              }
            }
          }
        }

      }
    }
  }

}
