.main-container {
  padding-top: 80px;

  .area-title {
    font-size: 40px;
    color: #247781;
    font-weight: 700;
    text-align: center;
  }

  .banner-area {
    position: relative;
    background-color: #f3f4f8;
    overflow: hidden;

    &::after {
      position: absolute;
      bottom: -350px;
      left: 50%;

      transform: translateX(-50%);
      background-color: #fff;
      content: '';
      width: 160%;
      height: 400px;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }

    .banner-container {
      position: relative;
      z-index: 1;
      width: $rootWidth;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 70px;

      .content-container {


        .website-title {
          font-size: 45px;
          font-weight: 700;
          text-align: center;
        }

        .description {
          margin-top: 10px;
          font-size: 18px;
          line-height: 24px;
          text-align: center;
        }
      }


    }
  }

  .review-area {
    padding-bottom: 50px;

    .review-container {
      width: $rootWidth;
      margin: 0 auto;

      .related-pages {
        margin-bottom: 38px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .single-related-page {
          position: relative;
          -webkit-transition: all linear 0.1s;
          -moz-transition: all linear 0.1s;
          -ms-transition: all linear 0.1s;
          -o-transition: all linear 0.1s;
          transition: all linear 0.1s;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);

          .link-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 50px;
            padding: 15px 20px;
            background-color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            box-sizing: border-box;
            transition: all linear 0.1s;
            -webkit-transition: all linear 0.1s;
            -moz-transition: all linear 0.1s;
            -ms-transition: all linear 0.1s;
            -o-transition: all linear 0.1s;
            border: 1px solid transparent;
            text-decoration: none;

            .icon {
              width: 40px;
              height: 40px;
              margin-right: 3px;
            }

            .title {
              font-size: 15px;
              font-weight: 600;
              text-align: center;
              color: #001139;
            }




          }

          &:hover,
          &.active {
            transform: translateY(-8px);
            -webkit-transform: translateY(-8px);
            -moz-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            -o-transform: translateY(-8px);

            .link-box {
              position: relative;
              border-right: 1px solid rgba(46, 154, 97, 1);
              border-left: 1px solid rgba(151, 151, 151, 1);
              border-bottom: 1px solid rgba(46, 154, 97, 1);
              border-top: 1px solid rgba(151, 151, 151, 1);
              z-index: 1;
            }

            &::after {
              content: '';
              position: absolute;
              top: 3px;
              left: 3px;
              width: 100%;
              height: 100%;
              background-color: #2E9A61;
              border-radius: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
              transition: all linear 0.1s;
              -webkit-transition: all linear 0.1s;
              -moz-transition: all linear 0.1s;
              -ms-transition: all linear 0.1s;
              -o-transition: all linear 0.1s;
            }

          }

        }
      }


      .review-list-title-box {
        display: flex;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 18px;
        background: #1a7781;
        color: #fff;

        .logo-title-box,
        .score-title-box,
        .apr-title-box,
        .amount-title-box,
        .btn-title-box {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .logo-title-box {
          flex: 3;
        }

        .score-title-box {
          flex: 2;
        }

        .apr-title-box {
          flex: 3;
        }

        .amount-title-box {
          flex: 3;
        }

        .btn-title-box {
          flex: 3;
        }
      }

      .review-item {
        display: flex;
        align-items: center;
        padding: 10px;

        border-bottom: 1px solid rgba(0, 22, 75, .3);



        .logo-box,
        .score-box,
        .apr-box,
        .amount-box,
        .btn-box {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .logo-box {
          flex: 3;

          .logo {
            height: 90px;
          }
        }

        .apr-box {
          flex: 3;

          .apr {
            font-size: 20px;
            color: #001139;
            font-weight: 600;
          }
        }

        .score-box {
          flex: 2;

          .rate-box {
            display: flex;
            flex-direction: column;
            align-items: center;

            .score {
              font-size: 34px;
              color: #001139;
            }
          }
        }

        .amount-box {
          flex: 3;

          .amount {
            font-weight: 600;
            font-size: 20px;
            color: #001139;
          }
        }

        .btn-box {
          flex: 3;

          .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #1f9a61;
            color: #fff;
            font-weight: 600;
            font-size: 16px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            text-decoration: none;
            transition: all linear 0.1s;
            -webkit-transition: all linear 0.1s;
            -moz-transition: all linear 0.1s;
            -ms-transition: all linear 0.1s;
            -o-transition: all linear 0.1s;

            &:hover {
              background-color: #29b674;
            }
          }
        }
      }
    }
  }


  .guides-area {
    background-color: #F3F4F8;
    padding: 70px 0;

    .guides-container {
      width: $rootWidth;
      margin: 0 auto;


      .guides {
        display: flex;
        width: 100%;
        margin-top: 50px;

        .guides-title {
          display: block;
          font-size: 20px;
          font-weight: 500;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .description {
          font-size: 14px;
          color: #666;
        }

        .recommend-guides-container-bottom,
        .guides-item-container-bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .read-more-link {
          font-size: 14px;
          color: #2E9A61;
          font-weight: 500;
        }

        .date {
          font-size: 14px;
          color: #666666;
        }

        .recommend-guides {
          flex: 27;
          flex-shrink: 0;
          overflow: hidden;

          .image-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 400px;
            overflow: hidden;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;

            .picture {
              width: auto;
              height: 100%;
            }
          }

          .recommend-guides-container {
            width: 100%;

            .guides-title {
              margin-top: 16px;
              margin-bottom: 10px;

            }

            .description {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 5; //行数
              -webkit-box-orient: vertical;
            }

            .recommend-guides-container-top {
              height: 140px;
            }

            .recommend-guides-container-bottom {
              margin-top: 34px;
            }

          }
        }

        .guides-list {
          flex: 28;
          flex-shrink: 0;
          padding-left: 24px;
          overflow: hidden;

          .guides-item {
            display: flex;
            align-items: center;
            height: 170px;
            padding: 24px 0;
            border-bottom: 1px solid #d1d1d1;

            &:nth-of-type(1) {
              padding-top: 0;
            }

            &:nth-last-of-type(1) {
              border: none;
            }


            .image-container {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 240px;
              height: 170px;
              margin-right: 24px;
              flex-shrink: 0;
              border-radius: 10px;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              -ms-border-radius: 10px;
              -o-border-radius: 10px;
              overflow: hidden;

              .picture {
                width: auto;
                height: 100%;
              }
            }

            .guides-item-container {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 100%;
              height: 100%;
              overflow: hidden;

              .guides-title {
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; //行数
                -webkit-box-orient: vertical;
              }

              .description {
                margin-top: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3; //行数
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }
    }
  }


  .question-area {
    .question-container {
      width: $rootWidth;
      margin: 0 auto;
      padding: 70px 0;

      .question-list {
        .question-item {
          margin: 36px 0;
          border-radius: 10px;
          overflow: hidden;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

          .question-title-box {
            display: flex;
            align-items: center;
            height: 48px;
            padding: 0 16px;
            background-color: #E5F9FB;
            box-sizing: border-box;

            .icon {
              display: inline-block;
              width: 30px;
              height: 30px;
              background: url('../../assets/img/question-icon.webp') no-repeat center/cover;
            }

            .question-title {
              margin-left: 16px;
              font-size: 20px;
              color: #333;
              font-weight: 600;
            }
          }

          .question-content {
            width: 100%;
            padding: 15px 16px;
            line-height: 24px;
            box-sizing: border-box;

            &::v-deep {
              p {
                margin-bottom: 16px;
              }

              ul li {
                list-style: none;
              }
            }
          }
        }
      }
    }
  }
}


.main-container {
  @media screen and (max-width: 750px) {
    padding-top: 70px;

    .banner-area {
      .banner-container {
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;

        .content-container {
          .website-title {
            margin-top: 30px;
            font-size: 40px;
            line-height: 42px;
          }

          .description {
            line-height: 26px;
            margin-top: 20px;
          }
        }

        .related-pages {
          flex-wrap: wrap;
          margin-top: 30px;
          margin-bottom: 20px;

          .single-related-page {
            width: 48%;
            margin: 10px 0;

            .link-box {
              width: 100%;
            }
          }
        }
      }
    }

    .review-area {
      .review-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        .related-pages {
          flex-wrap: wrap;
          margin-top: 30px;

          .single-related-page {
            width: 48%;
            margin-bottom: 18px;

            .link-box {
              width: 100%;
              padding: 0;
            }
          }
        }

        .review-list-title-box {

          .score-title-box,
          .apr-title-box,
          .amount-title-box {
            display: none;
          }
        }

        .review-item {

          .score-box,
          .apr-box,
          .amount-box {
            display: none;
          }
        }
      }
    }

    .guides-area {
      padding: 30px 0;

      .guides-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        .guides {
          flex-direction: column;
          margin-top: 30px;

          .recommend-guides {

            .recommend-guides-container {
              margin-bottom: 20px;

              .recommend-guides-container-top {
                height: auto;
              }

              .recommend-guides-container-bottom {
                margin-top: 20px;
              }
            }
          }

          .guides-list {
            padding-left: 0;

            .guides-item {
              height: 140px;
              padding: 20px 0;

              .image-container {
                width: 200px;
                height: 140px;
              }

              .guides-item-container {
                .description {
                  -webkit-line-clamp: 2;
                }
              }
            }
          }
        }
      }
    }

    .question-area {
      .question-container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;

        .question-list {
          .question-item {
            margin: 20px 0;

            .question-title-box {
              height: 100px;

              .question-title {
                font-size: 20px;
                line-height: 28px;
              }

              .icon {
                width: 28px;
                height: 28px;
              }
            }

            .question-content {
              line-height: 26px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
