.main-container {
  padding-top: 80px;

  .banner-area {
    width: 100%;
    height: auto;
    //background-color: #f5faf6;

    .banner-container {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      width: $rootWidth;
      margin: 0 auto;

      .banner-content-box {
        align-self: flex-start;

        .title {
          margin-top: 30px;
          margin-bottom: 15px;
          font-size: 45px;
          color: #001139;
        }

        .info {
          font-size: 14px;
          color: #00174b;
          font-style: italic;

          .line {
            display: inline-block;
            margin: 0 15px;
          }
        }

        .detail-list {
          display: flex;
          align-items: center;
          font-size: 0;
          margin-top: 15px;
          margin-bottom: 20px;
          padding: 10px 15px;
          border-radius: 6px;
          background-color: #f3f4f8;

          li {
            margin-right: 60px;

            .key-box {
              margin-bottom: 12px;

              .icon {
                display: inline-block;
                width: 25px;
                height: 25px;
                margin-right: 6px;
                background-color: gray;
                vertical-align: middle;

                &.amount-icon {
                  background: url("../../assets/img/review-icon-1.png") no-repeat center center/96%;
                }

                &.apr-icon {
                  background: url("../../assets/img/review-icon-2.png") no-repeat center center/96%;
                }

                &.credit-score-icon {
                  background: url("../../assets/img/review-icon-3.png") no-repeat center center/96%;
                }

                &.loan-term-icon {
                  background: url("../../assets/img/review-icon-4.png") no-repeat center center/68%;
                }
              }

              .text {
                font-size: 14px;
                color: #5f6468;
                vertical-align: middle;
                font-weight: 700;
              }
            }

            .value {
              font-size: 15px;

              color: #001139;
              font-weight: 700;
            }

            &:nth-last-of-type(1) {
              margin-right: 0;
            }
          }
        }

        .text {
          font-size: 0;
          margin-top: 40px;

          a {
            margin-right: 40px;
          }

          a,
          .iconfont {
            font-size: 15px;
            color: #8f8f8f;
            text-decoration: none;

            &:hover {
              text-decoration-line: underline;
              text-decoration-color: $theme-color;
              color: $theme-color;
            }
          }
        }

        .rate-popover-box {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;

          .rate-box {
            display: flex;
            align-items: center;


            .score {
              display: inline-block;
              font-size: 25px;
              color: #001139;
              font-weight: 700;
              margin-right: 8px;
              line-height: 0;
            }

            ::v-deep .el-rate {
              height: auto;
            }

            ::v-deep .el-rate__icon {
              font-size: 25px;
            }
          }

          ::v-deep .iconfont {
            font-family: Poppins, Arial, Helvetica, sans-serif;
            cursor: pointer;
            color: #8f8f8f;
            font-style: italic;
            font-size: 14px;
          }

        }


      }

      .rate-score-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0;

        .logo {
          height: 100px;
        }


        .btn-box {


          .btn {
            display: block;
            width: 200px;
            height: 45px;
            margin-bottom: 5px;
            border-radius: 22px;
            text-align: center;
            line-height: 45px;
            font-size: 17px;
            font-weight: 600;
            text-decoration: none;
            background-color: rgb(31, 154, 97);
            color: #fff;

            &:hover {
              background-color: #29b674;
            }
          }

          .small-text {
            font-size: 10px;
            font-weight: 500;
            color: #8f8f8f;
            text-align: center;
          }
        }


      }
    }

    .division-img-box {
      width: $rootWidth;
      margin: 0 auto;
    }
  }

  .disclosure-area {
    .disclosure-area-container {
      width: $rootWidth;
      margin: 0 auto;
      text-align: right;
      font-size: 14px;

      a {
        color: #8f8f8f;
        text-decoration: none;
        font-style: italic;
      }
    }
  }

  .reviews-container {
    position: relative;
    width: $rootWidth;
    margin: 0 auto;

    .reviews-container-left {
      width: 750px;

      .content-item {
        margin-bottom: 30px;

        ::v-deep a {
          color: #007af7;
        }

        .title-box {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .box {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          .title {
            margin-left: 15px;
            font-size: 30px;
            color: #247781;
          }
        }

        .content {
          font-family: Poppins, Arial, Helvetica, sans-serif;
          color: #000;
          line-height: 28px;

          ::v-deep p {
            margin: 0 0 15px 0;
          }
        }

        ::v-deep ul li {
          list-style: none;
          position: relative;
          padding-left: 18px;
          margin: 10px 0;

          &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 8px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #247781;
          }
        }
      }

      .table-list {
        width: 100%;
        border-radius: 18px;
        background-color: #f5faf6;
        margin-bottom: 60px;

        li {
          display: flex;
          align-items: center;
          height: 80px;
          padding: 0 45px;
          box-sizing: border-box;
          font-weight: 600;
          font-size: 18px;
          text-align: center;
          border-bottom: 1px solid $theme-color;

          .key {
            flex: 1;
            flex-shrink: 0;

            color: #001139;
          }

          .value {
            flex: 1;
            color: $theme-color;

            .iconfont {
              display: inline-block;
              width: 19px;
              height: 19px;
              border-radius: 50%;
              text-align: center;
              line-height: 19px;
              background-color: #00174b0d;
              cursor: pointer;
            }
          }

          &:nth-last-of-type(1) {
            border: none;
          }
        }
      }

      .pros-cons-box {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        margin-top: 35px;
        //background-color: rgb(244, 251, 248);
        overflow: hidden;

        .pros,
        .cons {
          flex: 1;
          flex-shrink: 0;

          .title-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            line-height: 60px;
            font-size: 18px;
            color: #001139;
            //background-color: $theme-color;
            border-top: 2px solid #247781;
            border-bottom: 1px solid #00164b1a;
            box-sizing: border-box;

            .iconfont {
              font-size: 22px;
              display: inline-block;
              margin-right: 5px;
            }
          }

          .list {
            list-style: disc;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            border-right: 1px solid rgba(0, 22, 75, 0.1);
            padding: 10px 30px;
            box-sizing: border-box;

            li {
              line-height: 28px;
              color: #001139;
              margin-bottom: 15px;
            }
          }
        }

        .cons {
          .title-box {
            border-left: 1px solid #00164b1a;
          }

          .list {
            border-right: none;
          }
        }
      }

      .btn-box {
        text-align: center;
        margin: 35px 0;
        font-size: 0;

        .btn {
          display: inline-block;
          width: 300px;
          height: 55px;
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          line-height: 55px;
          color: #fff;
          background-color: $theme-color;
          border-radius: 30px;
          text-decoration: none;
          transition: all linear 0.1s;

          &:hover {
            background-color: $theme-change-color;
          }
        }
      }
    }

    .top-area {
      position: absolute;
      top: 8px;
      right: 0;
      width: 310px;
      font-size: 0;
      //border: 1px solid #3ebd82;
      box-sizing: border-box;
      overflow: hidden;

      .title {
        display: inline-block;
        height: 60px;
        width: 100%;
        font-weight: 600;
        line-height: 60px;
        color: #001139;
        font-size: 19px;
        text-align: center;
        border-top: 2px solid #9d9d9d;
      }

      .top-list {
        background-color: #fff;

        .top-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          padding: 0 18px;
          height: 70px;
          border-bottom: 1px solid #bfbfbf;

          &:nth-of-type(1) {
            border-top: 1px solid #bfbfbf;
          }

          .logo {
            height: 55px;
            min-width: 20px;
          }

          a {
            display: inline-block;
            width: 120px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background-color: #1f9a61;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            border-radius: 30px;
            text-decoration: none;
            box-sizing: border-box;

            &:hover {
              background-color: #29b674;
            }

          }
        }
      }
    }
  }

  .reviews-bottom-area {
    width: $rootWidth;
    margin: 0 auto;
    padding-bottom: 80px;

    .author-info {
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 18px;
      box-sizing: border-box;
      padding: 30px 40px;
      margin: 65px 0;
      background-color: rgb(244, 251, 248);

      .pic {
        flex-shrink: 0;
        width: 107px;
        height: 107px;
        margin-right: 33px;
        border-radius: 50%;
      }

      .info-box {
        .name {
          font-size: 21px;
          color: #001139;
          font-weight: 700;
        }

        .text {
          margin-top: 10px;
          font-size: 16px;
          line-height: 28px;
          color: #787e8b;
        }

        a {
          color: $theme-color;
          font-size: 18px;
          text-decoration-line: underline;
          text-decoration-color: $theme-color;
        }
      }
    }

    .also-like-box {
      .title-box {
        display: flex;
        justify-content: space-between;

        .title {
          font-size: 24px;
          color: #001139;
        }

        .share-box {
          display: flex;
          align-items: center;

          .text {
            font-size: 18px;
            color: #001139;
          }

          button {
            margin-left: 52px;
            font-size: 40px;
            color: $theme-color;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
          }
        }
      }

      .list-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 300px;
          height: 320px;
          border-radius: 16px;
          background-color: rgb(244, 251, 248);

          .logo {
            min-width: 50px;
            height: 100px;
          }

          .rate-box {
            margin-top: 5px;
            margin-bottom: 45px;
            font-size: 0;
          }

          .btn {
            display: inline-block;
            width: 210px;
            height: 52px;
            text-align: center;
            line-height: 52px;
            color: #fff;
            font-size: 16px;
            background-color: $theme-color;
            border-radius: 8px;
            text-decoration: none;
            transition: all linear 0.1s;

            &:hover {
              background-color: $theme-change-color;
            }
          }
        }
      }
    }
  }
}

.main-container {
  @media screen and (max-width: 750px) {
    padding-top: 70px;

    .banner-area {
      height: auto;

      .banner-container {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 20px;

        .banner-content-box {
          margin-top: 0;

          .text {
            margin-top: 20px;
            font-size: 16px;
          }

          .title {
            font-size: 32px;
            margin-top: 20px;
          }

          .detail-list {
            width: 90%;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: auto;
            margin-right: auto;

            li {
              margin-right: 0;
              padding-bottom: 10px;
            }
          }

          .info {
            font-size: 14px;
          }
        }

        .rate-score-box {
          margin-top: 0px;

          .logo {
            height: 75px;
            margin-top: 0;
            margin-bottom: 5px;
          }

          .btn-box {
            margin-bottom: 15px;
          }
        }
      }

    }

    .reviews-container {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;

      .top-area {
        display: none;
      }

      .reviews-container-left {
        width: 100%;

        .pros-cons-box {
          flex-direction: column;
        }

        .content-item {
          .title-box {
            .box {
              width: 34px;
              height: 34px;
            }

            .title {
              font-size: 24px;
            }
          }

          .content {
            font-size: 14px;
          }
        }
      }


    }

    .reviews-bottom-area {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;

      .author-info {
        flex-direction: column;
        align-items: center;

        .pic {
          margin-right: 0;
          margin-bottom: 14px;
        }

        .info-box {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .also-like-box {
        .title-box {
          flex-direction: column;
          justify-content: flex-start;

          .title {
            order: 2;
          }

          .share-box {
            order: 1;
            margin-bottom: 54px;

            button {
              margin-left: 22px;
            }
          }
        }

        .list-box {
          flex-direction: column;
          justify-content: flex-start;

          .item {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
